#square {
    background: rgb(226, 115, 120);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin: 100px auto;
    transition: transform 2s ease-in-out;
}

#square:hover {
    transform:rotate(360deg);
}


